/*Overall Styles*/
.hidden {
  display: none;
}

/*Mixins*/
@mixin borderRadius {
  border-radius: 5px;
}
@mixin boxShadow {
  box-shadow: 2px 2px 10px black;
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  .navbar {
    background-color: #040408;
    h1 {
      display: inline;
      text-align: left;
    }
  }
  .item-form {
    form {
      label,
      input {
        @include borderRadius();
        display: block;
        text-align: center;
        margin: auto auto;
      }
      button {
        @include borderRadius();
      }
    }
  }
  .inventory {
    .itemBlock {
      @include borderRadius();
      @include boxShadow();
      color: black;
      text-align: center;
      width: 90%;
      margin: auto auto;
      img {
        width: 100%;
      }
    }
  }
}
