/*Overall Styles*/
.hidden {
  display: none;
}

/*Mixins*/
@mixin borderRadius {
  border-radius: 5px;
}
@mixin boxShadow {
  box-shadow: 2px 2px 10px black;
}
@mixin buttonStyles {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1em;
  margin: 1em;
  &:hover {
    background-color: white;
    color: #14142a;
  }
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  .navbar {
    border-bottom: 2px solid white;
    margin-bottom: 1em;
    h1 {
      text-align: left;
      margin: 0;
    }
    p {
      text-align: left;
      margin: 0;
      margin-bottom: 1em;
    }
  }
  button {
    @include buttonStyles();
  }
  .item-form {
    form {
      select {
        display: block;
        margin: auto auto;
        margin-bottom: 1em;
      }
      button {
        @include buttonStyles();
      }
    }
  }
  .inventory {
    .itemBlock {
      @include borderRadius();
      @include boxShadow();
      color: black;
      background-color: black;
      text-align: center;
      width: 90%;
      margin: auto auto;
      margin-bottom: 3em;
      img {
        width: 100%;
      }
      button {
        border: none;
        margin: 0;
        &:hover {
          color: rgb(250, 60, 60);
          background: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 760px) {
  .App {
    .navbar {
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 2em;
      }
    }
    button {
      font-size: 2em;
    }
    .item-form {
      form {
        select {
          font-size: 2em;
        }
        button {
          font-size: 2em;
        }
      }
    }
    .inventory {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
